version: "2"
services:

  nginx:
    image: nginx:alpine
    container_name: nginx_realforce
    volumes:
      - ./logs/nginx:/var/log/nginx
      - ../:/var/www/html
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
      - ./cert:/etc/ssl
    ports:
      - "80:80"
    links:
      - fpm
    networks:
      - realforce

  fpm:
    image: koshpaevsv/php7.4
    container_name: fpm_realforce
    user: 1000:1000
    volumes:
      - ../:/var/www/html
    working_dir: /var/www/html
    expose:
      - 9000
    links:
      - mysql
    networks:
      - realforce

  mysql:
    image: mysql:8
    container_name: mysql_realforce
    command: ["--default-authentication-plugin=mysql_native_password", "--max_allowed_packet=256M"]
    env_file:
      - var.env
    environment:
      - MYSQL_DATABASE=realforce
      - MYSQL_USER=realforce
    volumes:
      - ./data:/var/lib/mysql/
      - ./logs/mysql:/var/log/mysql
    expose:
      - 3306
    networks:
      - realforce

networks:
  realforce:
    external:
      name: realforce