version: "2"
services:
  nginx_test:
    image: nginx:alpine
    container_name: nginx_realforce_test
    volumes:
      - ./logs/nginx:/var/log/nginx
      - ../:/var/www/html
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
    ports:
      - "8080:80"
    links:
      - fpm_test
    networks:
      - realforce_test

  fpm_test:
    image: koshpaevsv/php7.4
    container_name: fpm_realforce_test
    user: 1000:1000
    volumes:
      - ../:/var/www/html
    working_dir: /var/www/html
    expose:
      - 9000
    networks:
      - realforce_test

networks:
  realforce_test:
    external:
      name: realforce_test

